body {
    font-family: 'Ubuntu', sans-serif;
}

section {
    padding: 5%;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px 50px;
    grid-template-areas: "uno dos tres"
}

.card {
    max-width: 360px;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 10px;
    box-shadow: 10px 10px 18px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    /*animacion agregada*/
}

.card:hover {
    transition: 300ms;
    transform: scale(105%);
}

.card img {
    height: 300px;
    overflow-y: hidden;
}

.uno {
    grid-area: uno;
}

.dos {
    grid-area: dos;
}

.tres {
    grid-area: tres;
}

.separador {
    width: 100%;
    border-top: 2px solid lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fa-solid {
    color: #E8CA0A;
}

button {
    margin: 75px;
    background-color: blue;
    color: aliceblue;
    font-size: 14px;
    padding: 10px 30px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 12px lightgray;
}


/*Nueva Rama de animaciones*/

.animation-bell:hover {
    animation: wobble-hor-bottom 0.8s both;
    /*animacion de un generador*/
}

@keyframes wobble-hor-bottom {
    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
    15% {
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}


/*Media queries con Grid*/

@media (max-width: 700px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        gap: 100px 10px;
        grid-template-areas: ". uno ." ". dos ." ". tres .";
    }
}